html, body {
  margin: 0;
  padding: 0;
}

body{width:100vw;height:100vh;position:relative;background:rgb(24, 24, 24)}

canvas{display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
  border:1px solid white;
}